#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# Application Level Tracing
#
CONFIG_APPTRACE_DEST_NONE=y
CONFIG_APPTRACE_DEST_UART=y
CONFIG_APPTRACE_DEST_UART_NOUSB=y
CONFIG_APPTRACE_DEST_UART1=y
CONFIG_APPTRACE_UART_TX_GPIO=12
CONFIG_APPTRACE_UART_RX_GPIO=13
CONFIG_APPTRACE_UART_BAUDRATE=1000000
CONFIG_APPTRACE_UART_RX_BUFF_SIZE=128
CONFIG_APPTRACE_UART_TX_BUFF_SIZE=4096
CONFIG_APPTRACE_UART_TX_MSG_SIZE=128
CONFIG_APPTRACE_UART_TASK_PRIO=1
CONFIG_APPTRACE_ENABLE=y
CONFIG_APPTRACE_LOCK_ENABLE=y
CONFIG_APPTRACE_ONPANIC_HOST_FLUSH_TMO=-1
CONFIG_APPTRACE_POSTMORTEM_FLUSH_THRESH=0

#
# SPI configuration for HX8357D display
#
CONFIG_LCD_HOST=SPI2_HOST
CONFIG_SCLK_GPIO=5
CONFIG_MOSI_GPIO=18
CONFIG_MISO_GPIO=19
CONFIG_DC_GPIO=33
CONFIG_CS_GPIO=15
CONFIG_TOUCH_CS_GPIO=32
CONFIG_SD_CS_GPIO=14